.container
  .text-center
    %h2 Ingreso al Sistema
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.email_field :email, autofocus: true, placeholder: "Correo Electrónico", size: "25"
      .field
        = f.password_field :password, autocomplete: "off", placeholder: "Contraseña", size: "25"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Ingresar", class: "btn btn-primary"
    = render "devise/shared/links"
